.container {
  text-align: center;
  margin-top: 0.5rem;
  width: 100%;
  min-width: 300px;
}

.main {
  margin-top: 7rem;
}

.date-input {
  background-color: var(--secondary-color);
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: var(--radius-normal);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  color: white;
  font-weight: bold;
}

.expense-boxes {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}

.loading-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
}
