.container {
  width: 26%;
  position: fixed;
  top: 40vh;
  left: 50%;
  margin-left: -13%;
  background-color: var(--secondary-color);
  border-radius: 5px;
  z-index: 10001;
  text-align: center;
  
}

.statusIcon__container {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  padding: 0.3rem;
}
.message__container {
  padding: 1rem 0.2rem;
}

.btn {
  background-color: var(--background-color);
  padding: 0.4rem 0.6rem;
  border-radius: 4px;
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 768px) {
  .container {
    width: 60%;
    margin-left: -30%;
  }
}
